# The address to access the app from public (for swagger-ui)
PUBLIC_SERVER=http://localhost:9090

# The port to access the app from local
HTTP_PORT=9090

# Directory for storing data that is publicly downloadable
PUBLIC_DATA_DIR=./data/public

# Directory for storing private data used by internal services
PRIVATE_DATA_DIR=./data/private

# Directory for storing uploaded images
IMAGE_DIR=./images

UID=1001
GID=1001

# Project name (prefix for containers)
COMPOSE_PROJECT_NAME=ibb

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
