# The address to access the app from outside
PUBLIC_SERVER=http://localhost:9090

# The port to access the app from local
HTTP_PORT=9090

# Public data that are available for download
PUBLIC_DATA_DIR=./data

# Directory for storing uploaded images
IMAGE_DIR=./images

# uid and gid of the current user who has read+write permission to PUBLIC_DATA_DIR and IMAGE_DIR
UID=1001
GID=1001

# Project name (prefix for containers)
COMPOSE_PROJECT_NAME=ibb
